* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    position: relative;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-text img {
    height: 400px;
}

h2 {
    color: yellow;
}

.h2green {
    color: green;
}

h2, .h2green {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.main-nav, .main-nav li, .main-nav li a {
    display: inline-block;
}

.main-nav li a {
    text-decoration: none;
}

