* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    position: relative;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-text img {
    height: 400px;
}

h2 {
    color: yellow;
}

.h2green {
    color: green;
}

h2, .h2green {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.main-nav, .main-nav li, .main-nav li a {
    display: inline-block;
    list-style: none;
}

.main-nav li a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 50%;
    background-color: white;
    margin: 20px;
}

.main-nav {
    z-index: 2;
    position: fixed;
    right: 0;
}

.main-nav li:hover {
    box-shadow: 5px 10px 8px 10px #888888;
    border: 1px solid;
}

